<div>
  <h1><%= @recipe.name %></h1>
  <div>
    <p>Preparation time: </p><span><%=@recipe.prep_time%> Minutes</span>
  </div>
  <div>
    <p>Cooking time: </p><span><%=@recipe.cook_time%> Minutes</span>
  </div>
  <div>
    <p class="fs-5"><%=@recipe.description%></p>
  </div>
</div>
<hr>