<section class="about-container">
<h1>About the Application</h1>
<p>The Recipe app keeps track of all your recipes, ingredients, and inventory. It will allow you to save ingredients, keep track of what you have, create recipes, and generate a shopping list based on what you have and what you are missing from a recipe. Also, since sharing recipes is an important part of cooking the app should allow you to make them public so anyone can access them.</p>
<%= image_tag url_for('cooking.png'), :class => "logo-2" %>
<div class="foot">
Designed and developed by: <a href="https://github.com/hamid-murambiwa">Hamid Murambiwa</a> and <a href="https://github.com/adamteddychang">You-Wei (Adam) Chang</a>  © copyright 2021
</div>
</section>