/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Macondo', cursive !important;
  font-size: medium !important;
}

.r-app {
  color: rgb(155, 9, 9);
  border-bottom: 2px solid rgb(230, 174, 21);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.food-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-button {
  background-color: #c56824;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 2px 2px 2px rgba(12, 1, 1, 0.815);
  margin-right: 15px;
}

.add-button:hover {
  background-color: #a09f57;
  text-decoration: none;
  color: white;
  border: none;
  box-shadow: 2px 2px 2px rgba(12, 1, 1, 0.815);
}

.content-con {
  border: 3px solid rgb(26, 26, 26);
  border-radius: 9px;
  padding: 50px;
}

.price-field {
  display: flex;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  height: min-content;
}

.field input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 1vw;
  padding-left: 2vw;
}

.field input:focus {
  outline: none;
}

.field label {
  color: white;
}

.up-con {
  background-image: url('d36d462db827833805497d9ea78a1343.jpeg') !important;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

hr {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.navbar {
  z-index: 3;
  background-color: #05595b;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

.navbar-expand-lg {
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.nav-item:hover {
  border-bottom: 1px solid #fff;
}

.nav-link {
  color: white !important;
}

.dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
}

.dropdown-toggle:hover {
  border-bottom: 1px solid white !important;
}

.dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-menu {
  background-color: #647c90 !important;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item:hover {
  background-color: #d0c9c0 !important;
}

.account {
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
  border: 3px solid rgba(187, 168, 0, 0.856);
  border-radius: 5px;
  color: rgb(187, 168, 0) !important;
}

.account:hover {
  text-decoration: none;
  color: rgb(236, 236, 6) !important;
  border: 3px solid rgb(236, 236, 6) !important;
}

.list {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.delete {
  background-color: #b22727;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px black;
  padding: 0.5vw;
}

#devise-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
  background-color: #eadeb8;
  min-height: 100vh;
}

.form {
  width: 100%;
}

.edit {
  width: auto;
  min-width: 30vw;
  border: none;
  border-radius: 10px;
  background-color: #5f7161e8;
  padding: 2vw;
  box-shadow: 7px 7px 7px black;
  text-align: center;
}

.edit-user {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
  border: 3px solid #b22727;
  border-radius: 10px;
  padding: 1vw;
}

.cancel p {
  color: white;
}

.back-btn {
  display: flex;
  justify-content: center !important;
  width: 100%;
  margin-top: 1vw;
}

.back {
  padding: 1vw;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  background-color: black;
}

.forgot {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.sign {
  background-color: rgb(19, 151, 228);
  color: white;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 2px 2px 2px rgba(12, 1, 1, 0.815);
}

.sign:hover {
  text-decoration: none;
  color: white;
  border: 2px solid black;
  box-shadow: 0 0 0;
}

.me-con {
  display: flex;
  align-items: center;
  justify-content: center !important;
  white-space: nowrap;
  width: 100%;
}

#user_remember_me {
  margin-bottom: 8px;
  margin-right: 15px;
  width: min-content;
}

.action-btns-td {
  width: 20rem;
}

.ingr-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.ingr-btn {
  display: flex;
  height: 2.5rem;
  width: 7rem;
  justify-content: center;
  align-items: center;
}

.logo-3 {
  width: 10vw;
  height: 10vw;
  margin-bottom: 2vh;
}

@import "bootstrap";
