/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.r-app {
  color: rgb(155, 9, 9);
  border-bottom: 2px solid rgb(230, 174, 21);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.app-con {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.app-con table {
  margin-top: 30px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70vw;
  border: 3px solid black;
}

.app-con td,
th {
  border: 2px solid rgb(26, 26, 26);
  text-align: left;
  padding: 8px;
}

.app-con tr:nth-child(even) {
  background-color: #ddd;
}

.food-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-button {
  background-color: rgb(23, 116, 23);
  color: white;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 2px 2px 2px rgba(12, 1, 1, 0.815);
}

.add-button:hover {
  text-decoration: none;
  color: white;
  border: 2px solid black;
  box-shadow: 0 0 0;
}

.content-con {
  border: 3px solid rgb(26, 26, 26);
  border-radius: 9px;
  padding: 50px;
}

.price-field {
  display: flex;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.field input {
  padding: 5px;
}

.actions {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

.navbar-expand-lg {
  width: 100%;
}

.nav-item {
  margin-left: 20px;
}

.nav-item:hover {
  border-bottom: 1px solid #fff;
}

.account {
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
  border: 3px solid rgba(187, 168, 0, 0.856);
  border-radius: 5px;
  color: rgb(187, 168, 0) !important;
}

.account:hover {
  text-decoration: none;
  color: rgb(236, 236, 6) !important;
  border: 3px solid rgb(236, 236, 6) !important;
}

.list {
  margin-left: 30px;
}

.delete {
  background-color: rgb(207, 23, 23);
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
}

#devise-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.form {
  width: 100%;
}

.edit {
  width: 50%;
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
}

.edit-user {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1vh;
}

.back {
  border: 1px solid black;
  padding: 5px;
  color: black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.forgot {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.sign {
  background-color: rgb(19, 151, 228);
  color: white;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 2px 2px 2px rgba(12, 1, 1, 0.815);
}

.sign:hover {
  text-decoration: none;
  color: white;
  border: 2px solid black;
  box-shadow: 0 0 0;
}

.me-con {
  display: flex;
  align-items: center;
}

#user_remember_me {
  margin-bottom: 8px;
  margin-right: 15px;
}

@import "bootstrap";
